.button {
  text-align: center;
  font-family: $ff-title;
  color: $color-bg-basic;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  transition: $trans-100;
  border: none;

  &:hover {
    background-color: $color-bg-button;
    transition: $trans-default;
  }

  &:active {
    color: rgba($color-bg-basic, 0.3);
    background-color: $color-bg-button;
    transition: $trans-default;
  }

  &:focus-visible {
    outline: 2px solid $color-outline;
    transition: $trans-100;
  }
}
