.button {
  text-align: center;
  font-family: $ff-title;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  transition: $trans-100;
  border: none;

  &:hover {
    background-color: #5eaa2f;
    transition: $trans-default;
  }

  &:active {
    color: rgb(255, 255, 255, 0.3);
    background-color: #5eaa2f;
    transition: $trans-default;
  }

  &:focus-visible {
    outline: 2px solid $color-outline;
    transition: $trans-100;
  }
}
