.card {
  display: flex;
  align-items: center;

  &--more {
    flex-direction: column;
    padding-top: 5px;
  }
}

.card__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__img {
  margin: 10.5px 36px;
}

.card__info {
  width: 100%;
  font-family: $ff-default;
  font-size: 12px;
  line-height: 16px;
  color: $color-font;

  th {
    font-weight: 400;
  }

  td {
    text-align: end;
  }
}

.card__name {
  width: 76px;
  font-family: $ff-title;
  font-size: 16px;
  line-height: 20px;
  text-align: start;
  color: #222222;
  text-transform: uppercase;
}

.catalog__button {
  width: 100%;
  padding: 10px auto;
  margin-top: 21px;
  font-family: $ff-title;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: $color-bg-second;
  border: none;
}

.card__add-img {
  margin-bottom: 23px;
  width: 30px;
  height: 30px;
  background: url("../../img/svg/icon-plus.svg") center center no-repeat;
}

.card__add-title {
  font-family: $ff-title;
  font-size: 16px;
  line-height: 20px;
  text-align: start;
  color: #222222;
  text-transform: uppercase;
}

.card__add-text {
  width: 100%;
  font-family: $ff-default;
  font-size: 12px;
  line-height: 16px;
  color: $color-font;
  text-align: center;
}
