.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin-bottom: 19px;

  &--more {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    margin-bottom: 20px;
  }
}

.card__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__img-wrap {
  text-align: center;
}

.card__info {
  width: 100%;
  font-family: $ff-default;
  font-size: 12px;
  line-height: 16px;
  color: $color-font;

  tr {
    margin-left: -2px;
    display: flex;
    justify-content: space-between;
  }

  th {
    padding: 0;
    font-weight: 400;
  }

  td {
    padding: 0;
    text-align: end;
  }
}

.card__name {
  margin-bottom: 13px;
  max-width: 76px;
  font-family: $ff-title;
  font-size: 16px;
  line-height: 20px;
  text-align: start;
  color: $color-font-second;
  text-transform: uppercase;

  &-link {
    text-decoration: none;
    color: $color-font;
  }
}

.card__add-img {
  margin-bottom: 23px;
  width: 30px;
  height: 30px;
  background: url("../img/svg/icon-plus.svg") center center no-repeat;
}

.card__add-title {
  margin-bottom: 8px;
  font-family: $ff-title;
  font-size: 16px;
  line-height: 20px;
  text-align: start;
  color: $color-font-second;
  text-transform: uppercase;
}

.card__add-text {
  width: 100%;
  font-family: $ff-default;
  font-size: 12px;
  line-height: 16px;
  color: $color-font;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .card {
    display: flex;
    flex-direction: column;

    &--more {
      max-width: 170px;
    }

    &__img {
      width: 161px;
      height: 172px;
    }

    &__img-wrap {
      margin-bottom: 37px;
    }

    &__name {
      margin: 0 auto 18px;
      max-width: 135px;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
    }

    &__info {
      tbody {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }

      tr {
        padding-bottom: 2px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $color-border-second;
      }

      th {
        font-size: 16px;
        line-height: 20px;
      }

      td {
        font-size: 16px;
        line-height: 20px;
      }
    }

    &__add-img {
      width: 60px;
      height: 60px;
      background: url("../img/svg/icon-plus-large.svg") center center no-repeat;
      margin-bottom: 50px;
    }

    &__add-title {
      text-align: center;
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 23px;
    }

    &__add-text {
      text-align: center;
      font-size: 16px;
      line-height: 18px;
    }
  }
}

@media (min-width: $desktop-width) {
  .card__img-wrap {
    margin-bottom: 28px;
  }

  .card__name {
    margin: 0 auto 22px;
  }

  .card__add-img {
    margin-bottom: 41px;
  }
}
