// Стили Каталога

.catalog__cards {
  width: 100%;
}

.catalog__title {
  margin: 28px 0 42px;
  display: flex;
  text-align: center;
  font-family: $ff-title;
  font-size: 36px;
  line-height: 36px;
  color: $color-font-title;
  font-weight: 400;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog__item {
  padding: 20px 0 25px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: -20px;
    bottom: 0;
    width: 100vw;
    height: 1px;
    background-color: $color-border;
  }

  &:first-child::before {
    content: "";
    position: absolute;
    left: -20px;
    top: 0;
    width: 100vw;
    height: 1px;
    background-color: $color-border;
  }
}

.catalog__button {
  width: 100%;
  padding: 10px;
  font-family: $ff-title;
  font-size: 16px;
  line-height: 20px;
  color: $color-bg-basic;
  text-transform: uppercase;
  background-color: $color-bg-second;
  border: none;
  cursor: pointer;

  &--more {
    background-color: $color-bg-three;
    color: $color-font;
  }

  &:hover {
    background-color: $color-bg-button;
    transition: background-color $trans-default;
  }

  &:active {
    color: rgb($color-bg-basic, 0.3);
    background-color: $color-bg-button;
    transition: background-color $trans-default, color $trans-default;
  }

  &:focus-visible {
    outline: 2px solid $color-outline;
    transition: outline $trans-100;
  }
}

@media (min-width: $tablet-width) {
  .catalog__cards {
    margin-bottom: 64px;
  }

  .catalog__title {
    margin: 66px 0 79px;
    font-size: 60px;
    line-height: 60px;
    text-align: start;
  }

  .catalog__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    row-gap: 56px;
    border-top: none;
  }

  .catalog__item {
    padding: 33px 37px 40px;

    &::after {
      display: none;
    }

    &::before {
      display: none;
    }

    &:nth-child(even):not(:last-child) {
      padding: 16px 37px 40px;

      .card__img {
        width: 168px;
        height: 206px;
      }

      .card__img-wrap {
        margin-bottom: 20px;
      }
    }

  }

  .catalog__item:not(:last-child) {
    background: linear-gradient(180deg, $color-bg-basic 0%, $color-bg-basic 16.5%, $color-bg-three 16.5%, $color-bg-three 100%);
  }

  .catalog__button {
    margin-top: 12px;
  }

  .catalog__item--more {
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    padding: 0;
    border-bottom: none;
  }

  .catalog__item-wrap {
    height: 429px;
    border: 2px solid $color-bg-three;
    padding: 43px 37px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: $desktop-width) {
  .catalog__cards {
    margin-top: 54px;
    margin-bottom: 71px;
  }

  .catalog__title {
    margin-top: 74px;
  }

  .catalog__list {
    grid-template-columns: repeat(4, 1fr);
    margin-top: 33px;
    padding: 0;
    column-gap: 80px;
  }

  .catalog__item {
    padding: 34px 37px 40px;

    &:nth-child(even):not(:last-child) {
      .card__img {
        width: 169px;
        height: 210px;
      }

      .card__img-wrap {
        margin-bottom: 8px;
      }
    }

    &--more {
      padding: 0;
    }
  }

  .catalog__button {
    margin-top: 18px;
  }
}
