// Стили Каталога

.catalog__card {
  margin-bottom: 2px;
}

.catalog__title {
  text-align: center;
  font-family: $ff-title;
  font-size: 36px;
  line-height: 36px;
  color: $color-font-title;
  font-weight: 400;
}

.catalog__list {
  list-style-type: none;
  padding: 16px 0;
  margin: 0;
  border-top: 1px solid $color-border;
}

.catalog__item {
  padding: 20px 20px 25px;
  border-bottom: 1px solid $color-border;
}

.catalog__button {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  font-family: $ff-title;
  font-size: 16px;
  line-height: 20px;
  color: $color-bg-basic;
  text-transform: uppercase;
  background-color: $color-bg-second;
  border: none;
  cursor: pointer;

  &--more {
    background-color: $color-bg-three;
    color: $color-font;
  }

  &:hover {
    background-color: $color-bg-button;
    transition: $trans-default;
  }

  &:active {
    color: rgb($color-bg-basic, 0.3);
    background-color: $color-bg-button;
    transition: $trans-default;
  }

  &:focus-visible {
    outline: 2px solid $color-outline;
    transition: $trans-100;
  }
}

@media (min-width: $tablet-width) {
  .catalog__title {
    font-size: 60px;
    line-height: 60px;
    text-align: start;
  }

  .catalog__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    border-top: none;
  }

  .catalog__item {
    padding: 30px 37px 40px;
  }

  .catalog__item:not(:last-child) {
    background: linear-gradient(180deg, #ffffff 0%, #ffffff 28%, #f2f2f2 28%, #f2f2f2 100%);
  }

  .catalog__button {
    margin-top: 32px;
  }

  .catalog__item--more {
    justify-content: end;
    display: flex;
    flex-direction: column;
    padding: 0;
    border-bottom: none;
  }

  .catalog__item-wrap {
    height: 429px;
    border: 2px solid $color-bg-three;
    padding: 50px 37px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: $desktop-width) {
  .catalog__title {
    margin-top: 74px;
  }

  .catalog__list {
    grid-template-columns: repeat(4, 1fr);
    margin-top: 33px;
    padding: 0;
    column-gap: 80px;
  }
}
