.container {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;
  gap: 20px;
  width: 100%;

  &--gap {
    gap: 0;
  }

  &--catalog {
    display: block;
  }

  &--form {
    display: block;
    padding: 0 20px;
  }
}

@media (min-width: $tablet-width) {
  .container {
    max-width: calc($desktop-width - 1px);
    padding: 0 30px;
    gap: 0;

    &--row {
      flex-direction: row;
      margin-top: 2px;
    }

    &--form {
      padding: 0 70px;
    }
  }
}

@media (min-width: $desktop-width) {
  .container {
    max-width: $desktop-width;
    padding: 0 110px;

    &--form {
      display: block;
    }
  }
}
