.container {
  position: relative;
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;
  gap: 40px;

  &--gap {
    gap: 0;
  }
}

@media (min-width: $tablet-width) {
  .container {
    width: $tablet-width;
    padding: 0 30px;

    &--row {
      flex-direction: row;
    }

    &--form {
      padding: 0 70px;
    }
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: $desktop-width;
    padding: 0 110px;
  }
}
