.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts__wrap {
  width: 280px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 10px auto;
}

.contacts__baner {
  font-family: $ff-title;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
  color: #111111;
  text-transform: uppercase;
}

.contacts__address {
  font-family: $ff-default;
  color: $color-font;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
}


.contacts-form-small {
  background-color: #f2f2f2;
}
