.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts__wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 10px auto;
}

.contacts__baner {
  width: 140px;
  font-family: $ff-title;
  font-size: 16px;
  line-height: 20px;
  color: $color-font-three;
  text-transform: uppercase;
}

.contacts__address {
  width: 140px;
  font-family: $ff-default;
  color: $color-font;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  text-align: end;
  justify-self: end;
}

.contacts__img {
  width: 320px;
}


.contacts--form {
  background-color: $color-bg-three;
}

@media (min-width: $tablet-width) {
  .contacts__wrap {
    padding: 60px 70px;
    width: 100%;
  }

  .contacts__baner {
    width: 163px;
    font-size: 20px;
    line-height: 26px;
  }

  .contacts__address {
    width: 157px;
    justify-self: end;
    font-size: 16px;
    text-align: end;
  }

  .contacts__img {
    width: 768px;
    height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;
  }

  .contacts__wrap {
    position: absolute;
    left: 8vw;
    top: 100px;
    padding: 60px 80px;
    width: 565px;
    height: 199px;
    background-color: $color-bg-basic;
  }

  .contacts__baner {
    margin: 0;
  }

  .contacts__img {
    width: 1400px;
    height: 400px;
  }
}
