.diet {
  margin: 20px auto;
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.diet__options {
  background-color: $color-bg-three;
}

.diet__options-wrap {
  padding: 20px 33px 18px 20px;
}

.diet__title {
  text-align: center;
  font-family: $ff-title;
  color: $color-font-title;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;

  &--small {
    position: relative;
    padding-left: 70px;
    display: inline-block;
  }

  &--small::before {
    content: "";
    position: absolute;
    left: 0;
    top: -7px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: $color-bg-second;
  }

  &--slim::after {
    content: "";
    position: absolute;
    left: 7px;
    top: -10px;
    width: 36px;
    height: 50px;
    background: url("../../img/svg/icon-slim-cat.svg") center left  no-repeat;
  }

  &--pro::after {
    content: "";
    position: absolute;
    left: -8px;
    top: 3px;
    width: 67px;
    height: 28px;
    background: url("../../img/svg/icon-pro-cat.svg") center left no-repeat;
  }
}

.diet__text {
  position: relative;
  margin: 0 0 42px;
  font-family: $ff-default;
  font-size: $fz-default;
  color: $color-font;
  line-height: $lh-default;
  font-weight: 400;
  font-style: normal;

  &::after {
    content: "";
    position: absolute;
    bottom: -23px;
    left: 0;
    width: 240px;
    height: 1px;
    background-color: #d9d9d9;
  }
}

.diet__link {
  color: #000000;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  transition: $trans-default;

  &:hover .diet__link-img {
    width: 26px;
  }

  &:active {
    opacity: 0.3;
    transition: $trans-default;
  }

  &:focus-visible {
    outline: 2px solid $color-outline;
    transition: $trans-100;
  }

  &-img {
    width: 18px;
    height: 12px;
    margin-left: 15px;
    padding-right: 6px;
    transition: width 1s ease;
    overflow: visible;
  }
}
