.diet {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.diet__options {
  background-color: $color-bg-three;
}

.diet__options-wrap {
  margin-bottom: 1px;
  padding: 20px 33px 18px 20px;
  position: relative;
}

.diet__title {
  padding-left: 70px;
  margin-top: 10px;
  margin-bottom: 9px;
  display: inline-block;
  text-align: center;
  font-family: $ff-title;
  color: $color-font-title;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    left: 21px;
    top: 24px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: $color-bg-second;
  }

  &--slim::after {
    content: "";
    position: absolute;
    left: 27px;
    top: 20px;
    width: 36px;
    height: 50px;
    background: url("../img/svg/icon-slim-cat.svg") center left  no-repeat;
  }

  &--pro::after {
    content: "";
    position: absolute;
    left: 13px;
    top: 35px;
    width: 67px;
    height: 28px;
    background: url("../img/svg/icon-pro-cat.svg") center left no-repeat;
  }
}

.diet__text {
  position: relative;
  margin: 20px 0 42px;
  font-family: $ff-default;
  font-size: $fz-default;
  color: $color-font;
  line-height: $lh-default;

  &::after {
    content: "";
    position: absolute;
    bottom: -23px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $color-bg-four;
  }
}

.diet__link {
  max-width: max-content;
  color: $color-font-title;
  text-align: center;
  font-family: $ff-title;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  transition: outline $trans-100, opacity $trans-default;

  &:hover .diet__link-img {
    width: 26px;
  }

  &:active {
    opacity: 0.3;
    transition: opacity $trans-default;
  }

  &:focus-visible {
    outline: 2px solid $color-outline;
    transition: outline $trans-100;
  }
}

  .diet__link-img {
    width: 18px;
    height: 12px;
    margin-left: 15px;
    padding-right: 6px;
    transition: width 1s ease;
    overflow: visible;
  }

@media (min-width: $tablet-width) {
  .diet {
    margin-bottom: 37px;
  }

  .diet__options {
    width: 100%;
    margin-bottom: 9px;
  }

  .diet__options-wrap {
    padding: 53px 63px 61px 52px;
  }

  .diet__text {
    margin: 19px 0 56px;
    padding-right: 249px;
    font-size: 16px;
    line-height: 24px;

    &::after {
      display: none;
    }
  }

  .diet__title {
    margin-top: 24px;
    margin-bottom: 6px;
    padding-left: 0;
    font-size: 36px;
    line-height: 36px;

    &::before {
      width: 200px;
      height: 200px;
      left: inherit;
      right: 63px;
      top: 91px;
    }

    &--slim::after {
      width: 140px;
      height: 194px;
      background-size: cover;
      left: inherit;
      right: 93px;
      top: 81px;
    }

    &--pro::after {
      width: 268px;
      height: 112px;
      background-size: cover;
      left: inherit;
      right: 29px;
      top: 136px;
    }
  }

  .diet__link {
    display: flex;
    align-items: center;
    font-size: 20px;
    line-height: 20px;
  }

  .diet__link-img {
    margin-left: 31px;
  }
}

@media (min-width: $desktop-width) {
  .diet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
    padding: 20px 0;
    margin-bottom: 51px;
  }

  .diet__options {
    height: 100%;
    margin-bottom: 0;
  }

  .diet__text {
    padding: 0;
    margin: 67px 0 34px;
    font-size: 16px;
    line-height: 24px;

    &::after {
      display: none;
    }
  }

  .diet__title {
    padding-left: 162px;
    font-size: 36px;
    line-height: 36px;

    &::before {
      width: 100px;
      height: 100px;
      left: 52px;
      top: 47px;
    }

    &--slim::after {
      width: 70px;
      height: 97px;
      background-size: cover;
      left: 67px;
      top: 41px;
    }

    &--pro::after {
      width: 134px;
      height: 56px;
      background-size: cover;
      left: 33px;
      top: 67px;
    }
  }

  .diet__link {
    display: flex;
    align-items: center;
    font-size: 20px;
    line-height: 20px;
  }
}
