.extra {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 13px;
}

.extra__lable {
  position: relative;
  padding: 6px 45px;
}

.extra__field[type="checkbox"]:disabled ~ .extra__text-mark,
.extra__field[type="checkbox"]:disabled ~ .extra__control-label {
  opacity: 0.3;
}

.extra__control-label {
  font-size: 16px;
  line-height: 18px;
}

.extra__text-mark {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: 3px;
  left: 0;
  border: 1px solid $color-border-second;
  cursor: pointer;
}

.extra__field {
  &:invalid {
    border: 2px solid $color-form-invalid;
  }

  &:valid {
    border: 2px solid $color-form-valid;
  }
}

.extra__field[type="checkbox"]:checked + .extra__text-mark::before,
.extra__field[type="checkbox"]:checked + .extra__text-mark::after {
  position: absolute;
  content: "";
  top: 3px;
  left: 3px;
  width: 26px;
  height: 26px;
  background: url("../../img/svg/icon-ok.svg") center center no-repeat;
}

@media (min-width: $tablet-width) {
  .extra {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &__lable {
      padding: 6px 0 6px 45px;
    }
  }

  .extra__control-label {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .extra {
    justify-items: start;
    gap: 120px;
  }
}
