.extra-product {
  width: 100%;
  margin: 0 auto;
}

.extra-product__title {
  position: relative;
  width: fit-content;
  margin-top: 6px;
  margin-bottom: 35px;
  margin-left: -20px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: $ff-title;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $color-font-title;
  background-color: $color-bg-basic;

  &::after {
    content: "";
    position: absolute;
    top: 59%;
    width: calc(100vw - 263px);
    height: 2px;
    background-color: $color-bg-second;
    z-index: -1;
  }
}

.extra-product__list {
  list-style-type: none;
  padding: 0;
  margin: 0 0 1px 0;
  border-top: 1px solid $color-border-second;
}

.extra-product__card {
  padding-bottom: 17px;
  border-bottom: 1px solid $color-border-second;
}

.extra-product__item {
  border-bottom: 1px solid $color-border-second;
}


@media (min-width: $tablet-width) {
  .extra-product {
    width: 100%;
    margin-bottom: 76px;

    &__title {
      margin-bottom: 80px;
      margin-left: 0;
      padding: 0 40px;
      font-size: 36px;
      line-height: 36px;

      &::after {
        left: -60px;
        width: calc(100vw - -13px);
      }
    }

    &__list {
      border: none;
      margin-bottom: 70px;
    }

    &__item {
      border: 1px solid $color-border-second;

      &:not(:last-child) {
        border-bottom: none;
      }
    }

    &__card {
      border: none;
      padding: 19px 38px 28px;
    }
  }
}

@media (min-width: $desktop-width) {
  .extra-product {
    padding: 0;
    margin-bottom: 17px;

    &__list {
      width: 100%;
    }

    &__item {
      border-left: none;
      border-right: none;
    }

    &__title {
      margin-left: -40px;

      &::after {
        top: 64%;
        left: -110px;
        width: calc(100vw + 23px);
      }
    }

    &__card {
      padding: 16px 0 15px;
      display: flex;

      .catalog__button {
        width: 244px;
        margin: 0;
        transform: translateY(-3px);
      }
    }

    &__wrap {
      display: flex;
      justify-content: space-between;
      gap: 80px;
    }
  }
}
