.extra-card__name {
  margin-top: 13px;
  margin-bottom: 11px;
  font-family: $ff-title;
  font-size: 16px;
  line-height: 16px;
  color: $color-font-second;
  text-transform: uppercase;
  text-align: start;
}

.extra-card__info {
  display: flex;
  flex-direction: column;
  width: 100%;

  tbody {
    margin-bottom: 15px;
  }

  tr {
    display: flex;
    justify-content: space-between;
  }

  th {
    font-family: $ff-default;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: $color-font;
  }

  td {
    text-align: end;
    font-family: $ff-default;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: $color-font;
  }
}

@media (min-width: $tablet-width) {
  .extra-card {
    &__name {
      font-size: 20px;
      line-height: 20px;
      margin-top: 8px;
    }

    &__info {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      tbody {
        margin-bottom: 0;
      }

      tr {
        display: flex;
      }

      th {
        font-size: 16px;
        line-height: 20px;
      }

      td {
        font-size: 16px;
        line-height: 20px;
        margin-left: 49px;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .extra-card {
    &__info {
      flex: 1;

      tr {
        display: grid;
        grid-template-columns: 4fr 1fr;
        width: 300px;
        margin-right: 25px;
        gap: 10px;
      }

      th {
        grid-column: 1 / 2;
        text-align: start;
      }

      td {
        grid-column: 2 / 3;
        text-align: start;
        margin-left: 0;
      }
    }
  }
}
