.extra-product {
  margin: 0 auto;
  padding: 0 20px;
}

.extra-product__title {
  margin-bottom: 36px;
  font-family: $ff-title;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $color-font-title;
}

.extra-product__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-top: 1px solid $color-border-second;
}

.extra-product__card {
  padding-bottom: 19px;
  border-bottom: 1px solid $color-border-second;
}


@media (min-width: $tablet-width) {
  .extra-product {
    width: 100%;
    margin-bottom: 89px;

    &__title {
      font-size: 36px;
      line-height: 36px;
      margin-bottom: 80px;
    }

    &__list {
      border: none;
    }

    &__item {
      border: 1px solid $color-border-second;

      &:not(:last-child) {
        border-bottom: none;
      }
    }

    &__card {
      border: none;
      padding: 26px 38px 28px;
    }
  }
}

@media (min-width: $desktop-width) {
  .extra-product {
    padding: 0;

    &__list {
      width: 100%;
    }

    &__item {
      border-left: none;
      border-right: none;
    }

    &__card {
      padding: 12px 0;
      display: flex;

      .catalog__button {
        width: 244px;
        margin: 0;
      }
    }

    &__wrap {
      display: flex;
      justify-content: space-between;
      gap: 80px;
    }
  }
}
