.feedback {
  position: relative;
  padding: 0;
  margin: 12px auto;
  border: none;

  &--border::before,
  &--border::after {
    content: "";
    position: absolute;
    left: -20px;
    width: calc(100% + 40px);
    height: 1px;
    background-color: $color-bg-four;
  }

  &--fullscreen {
    margin-top: 29px;
  }

  &--coments {
    margin-top: 24px;
  }

  &--more {
    margin-top: 18px;
  }
}

.feedback__title-form {
  display: block;
  margin: 23px 0;
  padding: 0;
  font-size: 36px;
  line-height: 36px;
  color: $color-font-title;
  text-transform: none;
}

.feedback__subtitle {
  margin-bottom: 38px;
  font-size: 14px;
  line-height: 18px;
  color: $color-font-title;
}

.feedback__list {
  padding: 0;
  margin-top: 17px;
  margin-bottom: 13px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 12px;
  list-style-type: none;

  &--options {
    gap: 8px;
  }

  &--contacts {
    margin-top: 34px;
    margin-bottom: 0;
  }
}

.feedback__item {
  width: 100%;
}

.feedback__box {
  display: flex;
  align-items: baseline;
  gap: 13px;
}

.feedback__text {
  font-size: 16px;
  line-height: 18px;
}

.feedback__field {
  padding: 14px 15px 13px;
  flex: 1;
  font-family: $ff-title;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: $color-font;
  font-style: normal;
  background-color: $color-bg-basic;
  text-transform: uppercase;
  border: 2px solid $color-border-three;

  &--email {
    background: url("../img/svg/icon-email.svg") center right 14px no-repeat;

    &:focus,
    &:valid {
      background: url("../img/svg/icon-email-green.svg") center right 14px no-repeat;
    }

    &:not(:focus):not(:placeholder-shown):invalid {
      background: url("../img/svg/icon-email-error.svg") center right 14px no-repeat;
    }
  }

  &--phone {
    background: url("../img/svg/icon-phone.svg") center right 14px no-repeat;

    &:focus,
    &:valid {
      background: url("../img/svg/icon-phone-green.svg") center right 14px no-repeat;
    }

    &:not(:focus):not(:placeholder-shown):invalid {
      background: url("../img/svg/icon-phone-error.svg") center right 14px no-repeat;
    }
  }

  &:valid {
    border: 2px solid $color-form-valid;
    border-radius: 5px;
  }

  &:not(:focus):not(:placeholder-shown):invalid {
    border: 2px solid $color-form-invalid;
    border-radius: 5px;
  }
}

.feedback__lable {
  position: relative;
  display: block;
  padding: 6px 45px;
}

.feedback__color-mark {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid $color-border-second;
  border-radius: 50%;
  cursor: pointer;
}

.feedback__field[type="radio"]:checked + .feedback__color-mark::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  width: 13px;
  height: 13px;
  background-color: $color-bg-second;
  border-radius: 50%;
}

.feedback__field:focus-visible + .feedback__color-mark,
.feedback__field:focus-visible {
  outline: 2px solid $color-outline;
  transition: outline $trans-100;
}

.feedback__title {
  position: relative;
  margin: 0;
  padding: 0;
  text-align: start;
  font-family: $ff-title;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  color: $color-font-title;
  text-transform: none;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: 59%;
    left: calc(100% + 20px);
    width: calc(100vw - 100% - 41px);
    height: 2px;
    background-color: $color-bg-second;
    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    top: 59%;
    right: calc(100% + 40px);
    width: 100vw;
    height: 2px;
    background-color: $color-bg-second;
    z-index: -1;
    display: none;
  }
}

// убираем стрелки поля imput(number)
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
}

.feedback__area {
  width: 100%;
  height: 150px;
  padding: 14px;
  margin-top: 39px;
  font-family: $ff-title;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 18px;
  text-transform: uppercase;
  resize: none;
  border: 1px solid $color-border-three;
}

@media (min-width: $tablet-width) {
  .feedback {
    margin: 49px 0;

    &--fullscreen {
      margin-top: 65px;
    }

    &--more {
      margin-top: 61px;
      margin-bottom: 39px;
    }
  }

  .feedback__wrap {
    flex-direction: row;
    align-items: center;
  }

  .feedback__title-form {
    margin: 35px 0;
    font-size: 60px;
    line-height: 60px;
  }

  .feedback__subtitle {
    font-size: 20px;
    line-height: 30px;
  }

  .feedback--border {
    margin-top: 58px;
    border: 1px solid $color-bg-four;
    padding-left: 27px;

    &::before,
    &::after {
      display: none;
    }
  }

  .feedback__text,
  .feedback__field,
  .feedback__control-lable {
    font-size: 20px;
    line-height: 20px;
    padding: 11px;
    padding-left: 18px;
  }

  .feedback__box {
    gap: 4px;
  }

  .feedback__text {
    padding-left: 0;
  }

  .feedback__title {
    font-size: 36px;
    line-height: 36px;

    &::before {
      left: calc(100% + 40px);
      width: calc(100vw - 100% - 110px);
    }

    &::after {
      display: block;
    }
  }

  .feedback__area {
    height: 175px;
    padding: 10px 20px;
    margin-top: 87px;
    font-size: 20px;
    line-height: 30px;
  }

  .feedback__list {
    margin-top: 64px;
    gap: 18px;

    &--options {
      margin-bottom: 27px;
      margin-top: 28px;
      gap: 17px;
    }

    &--contacts {
      margin-top: 75px;
    }
  }

  .feedback__color-mark {
    top: -4px;
    width: 40px;
    height: 40px;
  }

  .feedback__field[type="radio"]:checked + .feedback__color-mark::before {
    top: 11px;
    left: 10px;
    width: 18px;
    height: 18px;
  }

  .feedback__lable {
    padding: 6px 42px;
  }
}

@media (min-width: $desktop-width) {
  .feedback {
    margin: 0;

    &--border {
      margin-top: 63px;
      padding: 0 27px;
      transform: translateY(85px);
    }

    &--user {
      margin-top: 60px;
    }

    &--coments {
      margin-top: 69px;
    }

    &--more {
      margin-top: 67px;
    }
  }

  .feedback__title {
    &::before {
      width: calc(100vw - 100% - 150px);
    }
  }

  .feedback--fullscreen {
    grid-column: 1/3;

    .feedback__list {
      flex-direction: row;
      gap: 19px;

      &--contacts {
        gap: 81px;
      }
    }

    .feedback__extra {
      grid-template-columns: repeat(4, 1fr);
    }
  }


  .feedback__area {
    margin-top: 77px;
  }

  .form-feedback__wrap {
    margin-top: 23px;
  }
}
