.feedback {
  padding: 0;
  margin: 12px auto;
  border: none;

  &--border {
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
  }
}

.feedback__title-form {
  display: block;
  margin: 27px 0;
  padding: 0;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  text-transform: none;
}

.feedback__subtitle {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.feedback__list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 14px;
}

.feedback__item {
  width: 100%;
}

.feedback__box {
  display: flex;
  align-items: baseline;
  gap: 13px;
}

.feedback__text {
  font-size: 16px;
  line-height: 18px;
  // margin: 13px 13px 14px 0;
}

.feedback__field {
  padding: 14px 15px 13px;
  flex: 1;
  font-family: $ff-title;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: $color-font;
  font-style: normal;
  background-color: #ffffff;
  text-transform: uppercase;
  border: 1px solid #e7e7e7;

  &--email {
    background: url("../../img/svg/icon_email.svg") center right 12px no-repeat;
  }

  &--phone {
    background: url("../../img/svg/icon-phone.svg") center right 12px no-repeat;
  }
}

.feedback__lable {
  position: relative;
  padding: 6px 45px;
}

.feedback__color-mark {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
}

.feedback__field[type="radio"]:checked + .feedback__color-mark::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  width: 13px;
  height: 13px;
  background-color: $color-bg-second;
  border-radius: 50%;
}

.feedback__title {
  margin: 19px 0;
  text-align: start;
  font-family: $ff-title;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  color: #000000;
  text-transform: none;
}

// убираем стрелки поля imput(number)
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  appearance: textfield;
}

.feedback__area {
  width: 100%;
  height: 150px;
  font-family: $ff-title;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 18px;
  text-transform: uppercase;
  resize: none;
}

.feedback__button {
  width: 100%;
  padding: 15px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #68b738;
  border: none;
}

.feedback__note {
  margin: 0;
  margin-top: 21px;
  font-family: $ff-default;
  font-size: $fz-default;
  font-weight: normal;
  line-height: 16px;
  text-transform: none;
  color: #000000;
  text-align: center;
}
