.feedback {
  padding: 0;
  margin: 12px auto;
  border: none;

  &--border {
    border-top: 1px solid $color-bg-four;
    border-bottom: 1px solid $color-bg-four;
  }
}

.feedback__title-form {
  display: block;
  margin: 27px 0;
  padding: 0;
  font-size: 36px;
  line-height: 36px;
  color: $color-font-title;
  text-transform: none;
}

.feedback__subtitle {
  font-size: 14px;
  line-height: 18px;
  color: $color-font-title;
}

.feedback__list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 14px;
}

.feedback__item {
  width: 100%;
}

.feedback__box {
  display: flex;
  align-items: baseline;
  gap: 13px;
}

.feedback__text {
  font-size: 16px;
  line-height: 18px;
}

.feedback__field {
  padding: 14px 15px 13px;
  flex: 1;
  font-family: $ff-title;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: $color-font;
  font-style: normal;
  background-color: $color-bg-basic;
  text-transform: uppercase;
  border: 1px solid $color-border-three;

  &--email {
    background: url("../img/svg/icon-email.svg") center right 12px no-repeat;

    &:focus,
    &:valid {
      background: url("../img/svg/icon-email-green.svg") center right 12px no-repeat;
    }

    &:not(:focus):not(:placeholder-shown):invalid {
      background: url("../img/svg/icon-email-error.svg") center right 12px no-repeat;
    }
  }

  &--phone {
    background: url("../img/svg/icon-phone.svg") center right 12px no-repeat;

    &:focus,
    &:valid {
      background: url("../img/svg/icon-phone-green.svg") center right 12px no-repeat;
    }

    &:not(:focus):not(:placeholder-shown):invalid {
      background: url("../img/svg/icon-phone-error.svg") center right 12px no-repeat;
    }
  }

  &:valid {
    border: 2px solid $color-form-valid;
  }

  &:not(:focus):not(:placeholder-shown):invalid {
    border: 2px solid $color-form-invalid;
  }
}

.feedback__lable {
  position: relative;
  padding: 6px 45px;
}

.feedback__color-mark {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid $color-border-second;
  border-radius: 50%;
  cursor: pointer;
}

.feedback__field[type="radio"]:checked + .feedback__color-mark::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  width: 13px;
  height: 13px;
  background-color: $color-bg-second;
  border-radius: 50%;
}

.feedback__title {
  position: relative;
  margin: 19px 0;
  text-align: start;
  font-family: $ff-title;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  color: $color-font-title;
  text-transform: none;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: 59%;
    left: calc(100% + 20px);
    width: 100vw;
    height: 2px;
    background-color: $color-bg-second;
    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    top: 59%;
    right: calc(100% + 40px);
    width: 100vw;
    height: 2px;
    background-color: $color-bg-second;
    z-index: -1;
    display: none;
  }
}

// убираем стрелки поля imput(number)
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  appearance: textfield;
}

.feedback__area {
  width: 100%;
  height: 150px;
  padding: 14px;
  font-family: $ff-title;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 18px;
  text-transform: uppercase;
  resize: none;
  border: 1px solid $color-border-three;
}

@media (min-width: $tablet-width) {
  .feedback {
    margin: 65px 0;
  }

  .feedback__wrap {
    flex-direction: row;
    align-items: center;
  }

  .feedback__title-form {
    font-size: 60px;
    line-height: 60px;
  }

  .feedback__subtitle {
    font-size: 20px;
    line-height: 30px;
  }

  .feedback--border {
    border: 1px solid $color-bg-four;
    padding-left: 27px;
  }

  .feedback__text,
  .feedback__field,
  .feedback__control-lable {
    font-size: 20px;
    line-height: 20px;
    padding: 11px;
  }

  .feedback__title {
    font-size: 36px;
    line-height: 36px;

    &::before {
      left: calc(100% + 40px);
    }

    &::after {
      display: block;
    }
  }

  .feedback__area {
    font-size: 20px;
    line-height: 30px;
  }

  .feedback__list {
    gap: 20px;
  }
}

@media (min-width: $desktop-width) {
  .feedback--border {
    padding: 25px 27px;
    transform: translateY(85px);
  }

  .feedback--fullscreen {
    grid-column: 1/3;

    .feedback__list {
      flex-direction: row;
      gap: 80px;
    }

    .feedback__extra {
      grid-template-columns: repeat(4, 1fr);
    }

    .form-feedback__note {
      margin: 0 0 0 80px;
    }
  }
}
