.footer {
  background-color: $color-bg-three;
  padding: 40px 0;
}

.footer__nav {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -20px;
    left: -65px;
    width: 280px;
    height: 1px;
    background-color: $color-bg-four;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: -65px;
    width: 280px;
    height: 1px;
    background-color: $color-bg-four;
  }
}


.footer__logo {
  transition: $trans-default;

  &:hover .footer__logo-color {
    fill: $color-logo-hover;
    transition: $trans-default;
  }

  &:active .footer__logo-color {
    fill: $color-logo-active;
    transition: $trans-default;
  }
}

.footer__logo:focus-visible {
  outline: 2px solid $color-outline;
  transition: $trans-default;
}

.footer__list {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 24px;
  padding: 0;
  margin: 0 auto;
}

.footer__item {
  &:focus-visible {
    outline: 2px solid $color-outline;
    transition: $trans-100;
  }
}

.footer__link {
  display: block;
  transition: $trans-default;

  &:hover {
    background-color: $color-bg-second;
    transition: $trans-default;
  }

  &:active {
    background-color: $color-bg-second;
    opacity: 0.3;
    transition: $trans-default;
  }

  &:focus-visible {
    outline: 2px solid $color-outline;
    transition: $trans-100;
  }

  &--vkontakte {
    width: 31px;
    height: 23px;
    background-color: $color-social;
    mask-image: url("../../img/svg/vkontakte.svg");
    mask-repeat: no-repeat;
    mask-position: center;
    transition: $trans-default;
  }

  &--youtube {
    width: 31px;
    height: 23px;
    background-color: $color-social;
    mask-image: url("../../img/svg/youtube.svg");
    mask-repeat: no-repeat;
    mask-position: center;
    transition: $trans-default;
  }

  &--telegram {
    width: 38px;
    height: 23px;
    background-color: $color-social;
    mask-image: url("../../img/svg/telegram.svg");
    mask-repeat: no-repeat;
    mask-position: center;
    transition: $trans-default;
  }
}

.footer__copyright {
  display: flex;
  width: 100%;
}

.footer__copyright-link {
  color: $color-font;
  font-family: $ff-default;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-decoration: none;
  flex: 1;
  padding: 7px 0;
  background: url("../../img/svg/html-academy-icon.svg") center right no-repeat;
  transition: $trans-default;

  &:hover,
  &:focus {
    fill: $color-bg-second;
  }

  &:active {
    opacity: 0.3;
    transition: $trans-default;
  }

  &:focus-visible {
    outline: 2px solid $color-outline;
    transition: $trans-100;
  }
}

@media (min-width: $tablet-width) {
  .footer__nav {
    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  .footer__logo {
    margin-right: 27px;
  }

  .footer__copyright {
    width: fit-content;
  }

  .footer__copyright-link {
    padding-right: 50px;
  }
}
