.form {
  font-family: $ff-title;
  font-weight: 400;
  color: $color-font;
  font-style: normal;
  background-color: #ffffff;
  text-transform: uppercase;
}

.form-feedback {
  margin: 27px auto 32px;

  &--small {
    max-width: 280px;
  }
}

