.form {
  font-family: $ff-title;
  color: $color-font;
  font-style: normal;
  background-color: $color-bg-basic;
  text-transform: uppercase;
}

.form-feedback {
  margin: 27px auto 32px;

  &--small {
    padding: 0 20px;
  }
}

