.form-feedback {
  margin: 16px 0 32px;
  width: 100%;
}


.form-feedback__button {
  width: 100%;
  margin-top: 5px;
  padding: 10px;
  font-family: $ff-title;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: $color-bg-basic;
  background-color: $color-bg-second;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: $color-bg-button;
    transition: background-color $trans-default;
  }

  &:active {
    color: rgb(255, 255, 255, 0.3);
    background-color: $color-bg-button;
    transition: background-color $trans-default, color $trans-default;
  }

  &:focus-visible {
    outline: 2px solid $color-outline;
    transition: outline $trans-100;
  }
}

.form-feedback__note {
  margin: 21px 0 0 11px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: $ff-default;
  font-size: $fz-default;
  line-height: 16px;
  text-transform: none;
  color: $color-font-title;
}

@media (min-width: $tablet-width) {
  .form-feedback {
    margin: 16px 0 60px;
  }

  .form-feedback__wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .form-feedback__button {
    margin-top: 0;
    padding: 14px;
    width: 284px;
    font-size: 20px;
    line-height: 26px;
  }

  .form-feedback__note {
    margin: -3px 0 0 72px;
    font-size: 16px;
  }
}

@media (min-width: $desktop-width) {
  .form-feedback {
    margin: 48px 0 79px;
  }

  .form-feedback__wrap {
    margin-top: 23px;
    grid-column: 1/3;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .form-feedback__button {
    width: 570px;
  }

  .form-feedback__note {
    margin: -3px 0 0 92px;
  }
}
