.form-feedback {
  margin: 27px 0 32px;
  width: 100%;

  &__button {
    width: 100%;
    padding: 15px;
    font-family: $ff-title;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    color: $color-bg-basic;
    background-color: $color-bg-second;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: $color-bg-button;
      transition: $trans-default;
    }

    &:active {
      color: rgb(255, 255, 255, 0.3);
      background-color: $color-bg-button;
      transition: $trans-default;
    }

    &:focus-visible {
      outline: 2px solid $color-outline;
      transition: $trans-100;
    }
  }

  &__note {
    margin: 0;
    margin-top: 21px;
    font-family: $ff-default;
    font-size: $fz-default;
    line-height: 16px;
    text-transform: none;
    color: $color-font-title;
    text-align: center;
  }
}

@media (min-width: $tablet-width) {
  .form-feedback {
    &__wrap {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &__button {
      width: 284px;
      font-size: 20px;
      line-height: 26px;
    }

    &__note {
      margin: 0 0 0 60px;
      font-size: 16px;
    }
  }
}

@media (min-width: $desktop-width) {
  .form-feedback {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
    align-items: center;

    &__wrap {
      grid-column: 1/3;
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &__button {
      width: 570px;
    }
  }
}
