.gift {
  display: flex;
  justify-content: center;
  padding: 35px 0;
}

.gift__img-wrap {
  position: relative;
  width: 280px;
  background: rgba($color-bg-second, 0.82);
}

.gift__img {
  display: block;
  opacity: 0.23;
  mix-blend-mode: multiply;
}

.gift__icon {
  position: absolute;
  top: 59px;
  left: 101px;
}


.gift__text {
  position: absolute;
  bottom: 43px;
  left: 58px;
  width: 161px;
  margin: 0;
  font-family: $ff-default;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $color-bg-basic;
}

@media (min-width: $tablet-width) {
  .gift {
    padding: 0;

    &__img-wrap {
      width: 707px;
      height: 200px;
    }

    &__img {
      width: fit-content;
    }

    &__icon {
      top: 57px;
      left: 77px;
    }

    &__text {
      bottom: 69px;
      left: auto;
      right: 125px;
      text-align: left;
    }
  }
}

@media (min-width: $desktop-width) {
  .gift {
    padding: 0;

    &__img-wrap {
      width: 245px;
      height: 288px;
    }

    &__img {
      width: 245px;
      height: 288px;
    }

    &__icon {
      top: 56px;
      left: 83px;
    }

    &__text {
      bottom: 43px;
      left: 42px;
      text-align: center;
    }
  }
}
