.gift {
  position: relative;
  padding: 35px 0;
}

.gift__img-wrap {
  background: rgba($color-bg-second, 0.82);
}

.gift__img {
  display: block;
  opacity: 0.23;
  mix-blend-mode: multiply;
  background-size: contain;
}

.gift__icon {
  position: absolute;
  top: 93px;
  left: 101px;
}


.gift__text {
  position: absolute;
  bottom: 67px;
  left: 64px;
  width: 160px;
  font-family: $ff-default;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $color-bg-basic;
}

@media (min-width: $tablet-width) {
  .gift {
    &__img-wrap {
      height: 200px;
      overflow: hidden;
    }

    &__img {
      width: fill-available;
      transform: translate(0, -43%);
    }

    &__icon {
      top: 96px;
      left: 91px;
    }

    &__text {
      bottom: 89px;
      left: 60%;
    }
  }
}

@media (min-width: $desktop-width) {
  .gift {
    padding: 0;

    &__img-wrap {
      width: 245px;
      height: 288px;
    }

    &__img {
      width: 245px;
      height: 288px;
      object-fit: fill;
      transform: none;
    }

    &__icon {
      top: 53px;
      left: 91px;
    }

    &__text {
      bottom: 28px;
      left: 49px;
    }
  }
}
