.header {
  width: 100%;
  border-bottom: 1px solid $color-bg-four;
}

.header__wrap {
  margin: 0 auto;
  padding: 13px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.header__logotype,
.header__logotype-text {
  display: block;
}

.header__nav {
  text-align: end;
}

.header__logo {
  width: 190px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  transition: opacity $trans-default, outline $trans-100;

  &:hover {
    opacity: 0.8;
    transition: opacity $trans-default;
  }

  &:active {
    opacity: 0.6;
    transition: opacity $trans-default;
  }

  &:focus-visible {
    outline: 2px solid $color-outline;
    transition: outline $trans-100;
  }
}

@media (min-width: $tablet-width) {
  .header {
    border: none;
    margin-top: 25px;
  }

  .header__wrap {
    padding: 0 30px;
  }

  .header__logo {
    width: 174px;
  }

  .header__logotype {
    width: 60px;
    height: 50px;
  }

  .header__nav {
    margin-right: 5px;
  }
}

@media (min-width: $desktop-width) {
  .header {
    position: relative;
    border: none;
    margin: 0 auto;
    z-index: 1;
  }

  .header__wrap {
    position: absolute;
    top: 55px;
    width: 100%;
    padding: 0 110px;
  }

  .header__logo {
    width: 202px;
  }

  .header__logotype {
    width: 70px;
    height: 59px;
  }

  .header__logotype-text {
    width: 118px;
    height: 21px;
  }

  .header__nav {
    flex: inherit;
    margin-top: 7px;
    margin-right: 2px;
  }

  .header__wrap--second {
    position: relative;
  }

  .header__wrap--second .main-menu__link {
    color: $color-font-three;
  }

  .header__wrap--second .main-menu__link--current {
    border-bottom: 2px solid $color-bg-second;
  }
}
