.how-work {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 39px;
  margin-bottom: 49px;
}

.how-work__title {
  margin: 0;
  font-family: $ff-title;
  font-size: $fz-title;
  line-height: 40px;
  color: $color-font-title;
  font-weight: 400;
}

.how-work__block {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  gap: 20px;
}

.how-work__text {
  display: flex;
  align-items: center;
  min-height: 60px;
  margin: 0;
  padding-left: 80px;
  font-family: $ff-default;
  font-size: $fz-default;
  color: $color-font;
  line-height: $lh-default;

  &--leaf {
    background: url("../img/svg/icon-leaf.svg") left center no-repeat;
  }

  &--hot-water {
    background: url("../img/svg/icon-hot-water.svg") left center no-repeat;
  }

  &--eat {
    background: url("../img/svg/icon-eat.svg") left center no-repeat;
  }

  &--scale {
    background: url("../img/svg/icon-scale.svg") left center no-repeat;
  }
}


@media (min-width: $tablet-width) {
  .how-work {
    gap: 32px;
  }

  .how-work__title {
    font-size: 60px;
    line-height: 60px;
  }

  .how-work__block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 37px;
    column-gap: 60px;
  }

  .how-work__text {
    position: relative;
    min-width: 230px;
    height: 280px;
    padding-top: 95px;
    padding-left: 0;
    padding-right: 56px;
    font-size: 16px;
    line-height: 24px;

    &--leaf {
      background: url("../img/svg/icon-leaf-large.svg") left top 40px no-repeat;

      &::after {
        position: absolute;
        content: "1";
        top: 0;
        left: 118px;
        font-family: $ff-title;
        font-size: 280px;
        line-height: 280px;
        color: $color-bg-three;
        z-index: -1;
      }
    }

    &--hot-water {
      background: url("../img/svg/icon-hot-water-large.svg") left top 40px no-repeat;

      &::after {
        position: absolute;
        content: "2";
        top: 0;
        left: 118px;
        font-family: $ff-title;
        font-size: 280px;
        line-height: 280px;
        color: $color-bg-three;
        z-index: -1;
      }
    }

    &--eat {
      background: url("../img/svg/icon-eat-large.svg") left top 40px no-repeat;

      &::after {
        position: absolute;
        content: "3";
        top: 0;
        left: 118px;
        font-family: $ff-title;
        font-size: 280px;
        line-height: 280px;
        color: $color-bg-three;
        z-index: -1;
      }
    }

    &--scale {
      background: url("../img/svg/icon-scale-large.svg") left top 40px no-repeat;

      &::after {
        position: absolute;
        content: "4";
        top: 0;
        left: 118px;
        font-family: $ff-title;
        font-size: 280px;
        line-height: 280px;
        color: $color-bg-three;
        z-index: -1;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .how-work {
    margin: 0 auto 31px;
  }

  .how-work__title {
    font-size: 60px;
    line-height: 60px;
  }

  .how-work__block {
    display: flex;
    flex-direction: row;
    column-gap: 72px;
  }

  .how-work__text {
    position: relative;
    min-width: 230px;
    height: 280px;
    padding-top: 94px;
    padding-left: 0;
    padding-right: 0;
    font-size: 16px;
    line-height: 24px;

    &--leaf {
      background: url("../img/svg/icon-leaf-large.svg") left top 40px no-repeat;

      &::after {
        position: absolute;
        content: "1";
        top: 0;
        right: 21px;
        font-family: $ff-title;
        font-size: 280px;
        line-height: 280px;
        color: $color-bg-three;
        z-index: -1;
      }
    }

    &--hot-water {
      background: url("../img/svg/icon-hot-water-large.svg") left top 40px no-repeat;

      &::after {
        position: absolute;
        content: "2";
        top: 0;
        right: 0;
        left: 110px;
        font-family: $ff-title;
        font-size: 280px;
        line-height: 280px;
        color: $color-bg-three;
        z-index: -1;
      }
    }

    &--eat {
      background: url("../img/svg/icon-eat-large.svg") left top 40px no-repeat;

      &::after {
        position: absolute;
        content: "3";
        top: 0;
        right: 0;
        left: 110px;
        font-family: $ff-title;
        font-size: 280px;
        line-height: 280px;
        color: $color-bg-three;
        z-index: -1;
      }
    }

    &--scale {
      background: url("../img/svg/icon-scale-large.svg") left top 40px no-repeat;

      &::after {
        position: absolute;
        content: "4";
        top: 0;
        right: 0;
        left: 114px;
        font-family: $ff-title;
        font-size: 280px;
        line-height: 280px;
        color: $color-bg-three;
        z-index: -1;
      }
    }
  }
}
