.live-model {
  margin-top: 14px;
  width: 100%;
  background-color: $color-bg-five;
}

.live-model-wrap {
  width: 100%;
  padding: 7px 0 40px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.live-model__title {
  font-family: $ff-title;
  font-size: $fz-title;
  font-style: normal;
  line-height: 40px;
  color: $color-font-title;
  font-weight: 400;
  margin: 5px 0;
}

.live-model__text {
  font-family: $ff-default;
  font-size: $fz-default;
  color: $color-font;
  line-height: $lh-default;
}

.live-model__rates-wrap {
  display: grid;
  grid-template-areas: "weight day"
    "price price";
  justify-content: space-between;
  margin-top: 1px;
}

.live-model__rates {
  position: relative;
  width: 124px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}

.live-model__stats {
  font-family: $ff-title;
  font-size: 24px;
  color: $color-font-title;
  line-height: 24px;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    top: -14.5px;
    left: 0;
    width: 124px;
    height: 56px;
    background: url("../img/svg/weight-back-small.svg") no-repeat;
  }
}

.live-model__description {
  width: 77px;
  text-align: center;
  font-family: $ff-default;
  font-size: 12px;
  color: $color-font;
  line-height: 12px;
  text-transform: lowercase;
}

.live-model__price-wrap {
  grid-area: price;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.live-model__price {
  margin: 20px 0 0;
  color: $color-font-title;
  font-family: $ff-title;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.live-model__price-total {
  margin: 20px 0 0 5px;
  color: $color-font-title;
  font-family: $ff-title;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.live-model__slider {
  position: relative;
  display: flex;
  justify-content: center;
}

.live-model__slider-scale {
  position: absolute;
  left: calc(50% - 20px);
  top: calc(50% - 21px);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid $color-social;
  background: url("../img/svg/dabl-arrow.svg") center center no-repeat $color-bg-basic;
  cursor: e-resize;

  &::before {
    content: "";
    position: absolute;
    left: 45%;
    top: -111px;
    width: 4px;
    height: 110px;
    border-radius: 2px;
    background: $color-social;
  }

  &::after {
    content: "";
    position: absolute;
    left: 45%;
    bottom: -112px;
    width: 4px;
    height: 112px;
    border-radius: 2px;
    background: $color-social;
  }

  &:hover {
    border-color: $color-bg-second;
    background: url("../img/svg/dabl-arrow-green.svg") center center no-repeat $color-bg-basic;

    &::before {
      background: $color-bg-second;
    }

    &::after {
      background: $color-bg-second;
    }
  }

  &:active {
    opacity: 0.6;

    &::before {
      opacity: 0.6;
    }

    &::after {
      opacity: 0.6;
    }
  }

  &:focus-visible {
    outline: 2px solid $color-outline;
  }
}

@media (min-width: $tablet-width) {
  .live-model-wrap {
    padding: 24px 0 97px;
  }

  .live-model {
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 59.7%, rgba(234, 234, 234, 1) 59.7%, rgba(234, 234, 234, 1) 100%);
  }

  .live-model__title {
    font-size: 60px;
    line-height: 60px;
  }

  .live-model__text {
    margin: 35px 0;
    font-size: 16px;
    line-height: 24px;
  }

  .live-model__rates-wrap {
    display: flex;
    margin-top: 4px;
    margin-bottom: 79px;
  }

  .live-model__rates {
    width: 162px;
    margin-right: 43px;
    margin-top: 11px;
    gap: 11px;
  }

  .live-model__stats {
    font-size: 30px;
    line-height: 37px;

    &::before {
      width: 162px;
      height: 77px;
      background: url("../img/svg/weight-back-large.svg") no-repeat;
    }

    &-modify::before {
      content: "";
      position: absolute;
      width: 162px;
      height: 77px;
      background: url("../img/svg/weight-back-modify.svg") no-repeat;
    }
  }

  .live-model__description {
    width: 162px;
    font-size: 14px;
    line-height: 14px;
  }

  .live-model__price-wrap {
    flex-direction: column;
    align-items: flex-end;
  }

  .live-model__price {
    width: 174px;
    margin: 0;
    margin-left: auto;
    font-size: 20px;
    line-height: 20px;
    text-align: end;
  }

  .live-model__price-total {
    margin: 9px 0;
    font-size: 20px;
    line-height: 20px;
    text-align: end;
  }

  .live-model__slider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .live-model__slider-scale {
    &::before {
      height: 236px;
      top: -239px;
    }

    &::after {
      height: 236px;
      bottom: -239px;
    }
  }

  .live-model__before {
    width: 280px;
    height: 512px;
  }

  .live-model__after {
    width: 280px;
    height: 512px;
  }
}

@media (min-width: $desktop-width) {
  .live-model {
    background: linear-gradient(180deg, $color-bg-basic 0%, $color-bg-basic 25%, $color-bg-three 25%, $color-bg-three 100%);
  }

  .live-model-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "a d"
      "b d"
      "c d";
    gap: 30px;
    padding: 24px 0 63px;
  }

  .live-model__title {
    grid-area: a;
    margin: 0;
  }

  .live-model__text {
    margin: 18px 0;
    width: 433px;
    grid-area: b;
  }

  .live-model__rates-wrap {
    grid-area: c;
    display: grid;
    max-width: 405px;
    margin: 11px 0 1px;
  }

  .live-model__rates {
    margin-right: 42px;
    margin-top: 0;
  }

  .live-model__price-wrap {
    margin-top: 46px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 327px;
  }

  .live-model__price {
    margin: 0;
  }

  .live-model__slider {
    grid-area: d;
    margin-top: -14px;
    margin-left: 17px;
  }
}
