// Навигационное меню в шапке сайта (бургер меню)
.main-menu__toggle {
  position: relative;
  width: 25px;
  height: 25px;
  padding: 0;
  margin-bottom: 2px;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: outline $trans-100, background-color $trans-default, box-shadow $trans-default;

  &:focus-visible {
    outline: 2px solid $color-outline;
    transition: outline $trans-100;
  }

  &--closed {
    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 24px;
      height: 2px;
      background-color: $color-font-title;
      box-shadow: 0 8px 0 0 $color-font-title, 0 -8px 0 0 $color-font-title;
      transition: box-shadow $trans-default, background-color $trans-default;
    }
  }

  &--opened {
    &::after {
      content: "";
      position: absolute;
      top: 1px;
      left: 3px;
      width: 24px;
      height: 24px;
      display: block;
      background: url("../img/svg/burger-open.svg") center center no-repeat;
    }
  }
}

.main-menu:hover .main-menu__toggle::before {
  background-color: $color-bg-second;
  box-shadow: 0 6px 0 0 $color-bg-second, 0 -6px 0 0 $color-bg-second;
  transition: box-shadow $trans-default, background-color $trans-default;
}

.main-menu:hover .main-menu__toggle--opened::after {
  opacity: 0.6;
  transition: opacity $trans-default;
}

.main-menu:active .main-menu__toggle--opened::after {
  opacity: 0.3;
  transition: opacity $trans-default;
  z-index: 1;
}

.main-menu:focus-visible .main-menu__toggle--opened::after {
  outline: 2px solid $color-outline;
  transition: outline $trans-100;
}

.main-menu__list {
  position: absolute;
  left: 0;
  top: 64px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: $color-bg-basic;
  border-top: 1px solid $color-border-four;
  list-style: none;
  z-index: 1;
}

.main-menu--nojs {
  display: flex;
}

.main-menu--closed {
  display: none;
}

.main-menu--opened {
  display: flex;
}

.main-menu__link {
  position: relative;
  font-family: $ff-title;
  text-decoration: none;
  color: $color-font-title;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;

  &:hover {
    opacity: 0.6;
    transition: opacity $trans-default;
  }

  &:active {
    opacity: 0.3;
    transition: opacity $trans-default;
  }

  &:focus-visible {
    outline: 2px solid $color-outline;
    transition: outline $trans-100;
  }

  &--current {
    border-bottom: 2px solid $color-bg-second;
  }
}

.main-menu__item {
  padding: 22px 0;
  width: 100%;
  border-bottom: 1px solid $color-border-four;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .main-menu__toggle {
    display: none;
  }

  .main-menu--closed {
    display: flex;
  }

  .main-menu__list {
    position: inherit;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap: 33px;
    background-color: transparent;
    border-top: none;
  }

  .main-menu__link {
    padding: 8px 0;
    font-size: 18px;
    line-height: 24px;
  }

  .main-menu__item {
    padding: 0;
    border-bottom: none;
    text-align: end;
    width: auto;
  }
}

@media (min-width: $desktop-width) {
  .main-menu__link {
    padding: 6px 0;
    font-size: 20px;
    line-height: 20px;
    color: $color-bg-basic;

    &--current {
      border-bottom: 2px solid $color-border;
    }
  }

  .main-menu__item {
    width: fit-content;
  }
}
