.promo {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.promo__booklet {
  max-width: 320px;
}

.promo__title {
  display: block;
  text-align: center;
  margin: 27px 0 25px;
  font-family: $ff-title;
  font-size: $fz-title;
  color: $color-bg-basic;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}

.promo__text {
  display: block;
  margin: 0 0 29px;
  text-align: center;
  font-family: $ff-title;
  font-size: 14px;
  line-height: 14px;
  color: $color-bg-basic;
  text-transform: uppercase;
}

.promo__cat-img-wrap {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100vw;
  background: $color-bg-second;
  top: 0;
  z-index: -1;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    width: calc(50% - 160px);
    height: 100%;
    background-color: rgba(83, 82, 87, 0.4);
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: calc(50% - 160px);
    height: 100%;
    background-color: rgba(83, 82, 87, 0.34);
  }
}

.promo__cat-img {
  display: block;
  opacity: 0.33;
  object-fit: cover;
}

.promo__food-img {
  display: block;
  text-align: center;
  margin-bottom: 3px;
}

.promo__button {
  padding: 10px 44px;
  width: 100%;
  background-color: $color-bg-second;
}

@media (min-width: $tablet-width) {
  .promo {
    align-items: flex-start;
  }

  .promo__cat-img-wrap {
    display: none;
  }

  .promo__booklet {
    margin-left: 90px;
  }

  .promo__title {
    width: 416px;
    margin-top: 65px;
    margin-bottom: 40px;
    text-align: start;
    font-size: 60px;
    line-height: 60px;
    color: $color-font-title;
  }

  .promo__text {
    margin-bottom: 28px;
    font-size: 20px;
    line-height: 20px;
    text-align: start;
    color: $color-font-title;
  }

  .promo__food-img-wrap {
    order: 2;
    z-index: -1;
    align-self: center;
    margin-top: -82px;
  }

  .promo__food-img {
    width: 709px;
    height: 609px;
    margin: 0;
  }

  .promo__button {
    margin-left: 90px;
    margin-top: 21px;
    padding: 10px 27px;
    width: 244px;
    height: 54px;
    display: flex;
    align-items: center;
    order: 1;
  }

  .button {
    font-size: 20px;
    line-height: 26px;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: flex-end;
    height: 694px;
    margin-bottom: 62px;
  }

  .promo__cat-img-wrap {
    display: block;
    grid-column: 2/3;
    width: 50vw;
    height: 694px;
    max-height: 694px;
    overflow: hidden;
    background: linear-gradient(90deg, rgba(83, 82, 87, 0.24) 0%, rgba(83, 82, 87, 0.24) 24%, #68b738 24%, #68b738 100%), linear-gradient(270deg, rgba(104, 183, 56, 0) 0%, rgba(104, 183, 56, 0) 76%, rgb(104, 183, 56) 76%, rgb(104, 183, 56) 100%);

    &::before,
    &::after {
      display: none;
    }
  }

  .promo__cat-img {
    width: 1040px;
    height: 694px;
    transform: translateX(12vw);
    opacity: 0.23;
  }

  .promo__booklet {
    margin-left: 80px;
    margin-top: 159px;
  }

  .promo__title {
    width: 416px;
    text-align: start;
    font-size: 60px;
    line-height: 60px;
    color: $color-font-title;
  }

  .promo__text {
    font-size: 20px;
    line-height: 20px;
    text-align: start;
    color: $color-font-title;
  }

  .promo__food-img-wrap {
    order: 0;
    z-index: 0;
    position: absolute;
    left: 36.6%;
    top: 143px;
    margin: 0;
  }

  .promo__food-img {
    width: 552px;
    height: 499px;
  }

  .promo__button {
    grid-column: 1/2;
    align-self: flex-start;
    margin-left: 80px;
    margin-top: 24px;
    width: 244px;
    height: 54px;
    order: 1;

  }
}
