.promo {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.promo__booklet {
  max-width: 320px;
}

.promo__title {
  display: block;
  text-align: center;
  margin: 26px 0;
  font-family: $ff-title;
  font-size: $fz-title;
  color: $color-bg-basic;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}

.promo__text {
  display: block;
  margin: 0 0 29px;
  text-align: center;
  font-family: $ff-title;
  font-size: 14px;
  line-height: 14px;
  color: $color-bg-basic;
  text-transform: uppercase;
}

.promo__cat-img-wrap {
  width: 100vw;
  max-height: 410px;
  background: $color-bg-second;
  position: absolute;
  top: 0;
  z-index: -1;
  overflow: hidden;
}

.promo__cat-img {
  width: 100vw;
  opacity: 0.23;
  object-fit: cover;
}

.promo__food-img {
  text-align: center;
}

.promo__button {
  padding: 10px 44px;
  width: 280px;
  background-color: $color-bg-second;
}

@media (min-width: $tablet-width) {
  .promo {
    align-items: flex-start;
  }

  .promo__cat-img-wrap {
    display: none;
  }

  .promo__booklet {
    margin-left: 120px;
  }

  .promo__title {
    width: 416px;
    text-align: start;
    font-size: 60px;
    line-height: 60px;
    color: $color-font-title;
  }

  .promo__text {
    font-size: 20px;
    line-height: 20px;
    text-align: start;
    color: $color-font-title;
  }

  .promo__food-img {
    width: 709px;
    height: 609px;
    order: 2;
    transform: translate(50px, -75px);
    z-index: -1;
  }

  .promo__button {
    margin-left: 120px;
    margin-top: 21px;
    width: 244px;
    height: 54px;
    display: flex;
    align-items: center;
    order: 1;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: flex-end;
    height: 694px;
  }

  .promo__cat-img-wrap {
    display: block;
    grid-column: 2/3;
    width: 50vw;
    height: 694px;
    max-height: 694px;
    overflow: hidden;
    background: linear-gradient(90deg, rgba(83, 82, 87, 0.24) 0%, rgba(83, 82, 87, 0.24) 24%, #68b738 24%, #68b738 100%), linear-gradient(270deg, rgba(104, 183, 56, 0) 0%, rgba(104, 183, 56, 0) 76%, rgba(104, 183, 56, 1) 76%, rgba(104, 183, 56, 1) 100%);
  }

  .promo__cat-img {
    width: 1040px;
    height: 694px;
    transform: translateX(12vw);
  }

  .promo__booklet {
    margin-left: 120px;
  }

  .promo__title {
    width: 416px;
    text-align: start;
    font-size: 60px;
    line-height: 60px;
    color: $color-font-title;
  }

  .promo__text {
    font-size: 20px;
    line-height: 20px;
    text-align: start;
    color: $color-font-title;
  }

  .promo__food-img {
    position: absolute;
    width: 552px;
    height: 499px;
    transform: translate(81%, -9%);
    order: 2;
    z-index: -1;
  }

  .promo__button {
    grid-column: 1/2;
    align-self: flex-start;
    margin-left: 120px;
    margin-top: 21px;
    width: 244px;
    height: 54px;
    order: 1;
  }
}
