// Global

@import "variables.scss";
@import "global/fonts.scss";
@import "global/utils.scss";
@import "global/reboot.scss";


// Blocks

@import "blocks/page-body.scss";
@import "blocks/header.scss";
@import "blocks/main-menu.scss";
@import "blocks/promo.scss";
@import "blocks/button.scss";
@import "blocks/diet.scss";
@import "blocks/how-work.scss";
@import "blocks/live-model.scss";
