// Global

@import "variables.scss";
@import "global/fonts.scss";
@import "global/utils.scss";
@import "global/reboot.scss";


// Blocks

//header + footer
@import "blocks/page-body.scss";
@import "blocks/header.scss";
@import "blocks/main-menu.scss";
@import "blocks/container.scss";
@import "blocks/footer.scss";

//index.html
@import "blocks/promo.scss";
@import "blocks/button.scss";
@import "blocks/diet.scss";
@import "blocks/how-work.scss";
@import "blocks/live-model.scss";
@import "blocks/contacts.scss";

//form.html
@import "blocks/form.scss";
@import "blocks/feedback.scss";
@import "blocks/form-feedback.scss";
@import "blocks/extra.scss";

//Catalof.html
@import "blocks/catalog.scss";
@import "blocks/card.scss";
@import "blocks/extra-product.scss";
@import "blocks/gift.scss"

