// сюда заносим переменные, используемые в стиляx

// Colors

$color-font:         #444444;
$color-font-title:   #000000;
$color-font-second:  #222222;
$color-font-three:   #111111;

$color-bg-basic:     #ffffff;
$color-bg-second:    #68b738;
$color-bg-button:    #5eaa2f;
$color-bg-three:     #f2f2f2;
$color-bg-four:      #d9d9d9;
$color-bg-five:      #eaeaea;
$color-outline:      #ffb70f;
$color-border:       #ebebeb;
$color-border-second:#cdcdcd;
$color-border-three: #e7e7e7;
$color-border-four:  #e6e6e6;

$color-logo-hover:   #3e3e3e;
$color-logo-active:  #6b6b6b;
$color-social:       #666666;

$color-form-invalid: #ff8282;
$color-form-valid:   #68b738;

// Typography

$ff-default:         "Lato", "Arial", sans-serif;
$ff-title:           "Oswald", "Arial", sans-serif;
$ff-button:          "Oswald", "Arial", sans-serif;

$fz-default:         14px;
$lh-default:         $fz-default + 4;
$fz-title:           36px;


// Animation

$tf-default:         ease;
$trans-default:      0.3s $tf-default;
$trans-100:          0.13s $tf-default;


// Viewports

$tablet-width: 768px;
$desktop-width: 1440px;
